.App {
  text-align: center;
  padding-top: 100px;
}

.form {
  display: inline-block;
  text-align: left;
}

.input {
  display: block;
  width: 200px;
  margin: 10px 0;
  padding: 10px;
}

.button {
  margin: 10px 0;
  padding: 10px 20px;
}